@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Chivo&display=swap");
* {
  font-family: 'Chivo','微軟正黑體';
}

body, html {
  margin: 0;
  padding: 0;
  color: #7D7D7D;
  position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

section {
  padding: 60px 0;
}

header.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  background-color: transparent;
  border: none;
}

header.navbar #indexLogo {
  width: 30px;
  margin: 20px;
}

header.navbar * {
  text-decoration: none;
}

header.navbar .navbar-nav {
  padding: 0;
  margin: 0;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 768px) {
  header.navbar .navbar-nav {
    display: none;
    overflow: hidden;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
}

header.navbar .navbar-nav li {
  list-style: none;
  margin: 1.5rem;
}

header.navbar .navbar-nav li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #DEDDE5;
  padding: 0px;
}

header.navbar .navbar-nav li a:hover {
  color: #958DAA;
  border-bottom: solid 1px #958DAA;
}

header.navbar .navbar-menu {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 62.5px;
  padding: .25rem;
  position: relative;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 999;
}

header.navbar .navbar-menu:hover span {
  background: #DEDDE5;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media (max-width: 768px) {
  header.navbar .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header.navbar .navbar-menu * {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header.navbar .navbar-menu span {
  display: block;
  background: #fff;
  border-radius: 2px;
}

header.navbar .navbar-menu #hamburger {
  width: 100%;
}

header.navbar .navbar-menu #hamburger span {
  width: 2.5rem;
  height: 0.25rem;
  position: relative;
  top: 25%;
  left: 20%;
  margin: .5rem 0;
}

header.navbar .navbar-menu #hamburger span:nth-child(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

header.navbar .navbar-menu #hamburger span:nth-child(2) {
  width: 2rem;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

header.navbar .navbar-menu #hamburger span:nth-child(3) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

header.navbar .navbar-menu #cross {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 0;
}

header.navbar .navbar-menu #cross span:nth-child(1) {
  width: 0.25rem;
  height: 0%;
  position: absolute;
  top: 15%;
  left: 2rem;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header.navbar .navbar-menu #cross span:nth-child(2) {
  width: 0%;
  height: 0.25rem;
  position: absolute;
  top: 2rem;
  left: 15%;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

header.navbar .navbar-menu.open #hamburger span {
  width: 0%;
}

header.navbar .navbar-menu.open #hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header.navbar .navbar-menu.open #hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}

header.navbar .navbar-menu.open #hamburger span:nth-child(3) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

header.navbar .navbar-menu.open #cross span:nth-child(1) {
  height: 3rem;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

header.navbar .navbar-menu.open #cross span:nth-child(2) {
  width: 3rem;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

.navbar.open {
  background-color: rgba(148, 140, 169, 0.8);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar.open .navbar-nav {
  display: block;
  width: calc(100% + 40px);
  height: auto;
  margin: -20px;
  margin-top: 1rem;
}

.navbar.open .navbar-nav li {
  width: 100%;
  text-align: center;
  padding: 1rem .5rem;
  margin: 0;
  background-color: rgba(148, 140, 169, 0.8);
  border-top: rgba(255, 255, 255, 0.6) solid 1px;
}

.navbar.open .navbar-nav li a {
  display: block;
}

section#index {
  padding: 240px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section#index .text {
  color: #fff;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
}

section#index .explore {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5%;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #25232B;
}

section#index .explore:before {
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background-color: #25232B;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
}

section#index .explore:hover {
  opacity: 1;
}

section#index .keys [class^="key"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

section#index .keys [class^="key"] img {
  width: 80px;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  left: 0x;
}

@-webkit-keyframes key1 {
  0% {
    left: 0px;
  }
  3% {
    left: -80px;
  }
  70% {
    left: -80px;
  }
  73% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@keyframes key1 {
  0% {
    left: 0px;
  }
  3% {
    left: -80px;
  }
  70% {
    left: -80px;
  }
  73% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

section#index .keys :nth-child(1) img {
  -webkit-animation: key1 9s infinite 1.75s;
          animation: key1 9s infinite 1.75s;
}

section#index .keys :nth-child(1) img {
  -webkit-animation: key1 7s infinite 1.5s;
          animation: key1 7s infinite 1.5s;
}

section#index .keys :nth-child(2) img {
  -webkit-animation: key1 10s infinite 2.5s;
          animation: key1 10s infinite 2.5s;
}

section#index .keys :nth-child(2) img {
  -webkit-animation: key1 10s infinite 2.5s;
          animation: key1 10s infinite 2.5s;
}

section#index .keys :nth-child(3) img {
  -webkit-animation: key1 9s infinite 4s;
          animation: key1 9s infinite 4s;
}

section#index .keys :nth-child(3) img {
  -webkit-animation: key1 11s infinite 4.5s;
          animation: key1 11s infinite 4.5s;
}

section#index .keys :nth-child(4) img {
  -webkit-animation: key1 7s infinite 5s;
          animation: key1 7s infinite 5s;
}

section#index .keys :nth-child(4) img {
  -webkit-animation: key1 9s infinite 5.5s;
          animation: key1 9s infinite 5.5s;
}

section#index .keys :nth-child(5) img {
  -webkit-animation: key1 9s infinite 5.75s;
          animation: key1 9s infinite 5.75s;
}

section#index .keys :nth-child(5) img {
  -webkit-animation: key1 10s infinite 6s;
          animation: key1 10s infinite 6s;
}

section#index .keys :nth-child(6) img {
  -webkit-animation: key1 7s infinite 7s;
          animation: key1 7s infinite 7s;
}

section#index .keys :nth-child(6) img {
  -webkit-animation: key1 10s infinite 8s;
          animation: key1 10s infinite 8s;
}

section#index .keys :nth-child(7) img {
  -webkit-animation: key1 7s infinite 8s;
          animation: key1 7s infinite 8s;
}

section#index .keys :nth-child(7) img {
  -webkit-animation: key1 9s infinite 7.5s;
          animation: key1 9s infinite 7.5s;
}

section#index .keys :nth-child(8) img {
  -webkit-animation: key1 7s infinite 8.5s;
          animation: key1 7s infinite 8.5s;
}

section#index .keys :nth-child(8) img {
  -webkit-animation: key1 8s infinite 10s;
          animation: key1 8s infinite 10s;
}

section#index .keys :nth-child(9) img {
  -webkit-animation: key1 11s infinite 9.25s;
          animation: key1 11s infinite 9.25s;
}

section#index .keys :nth-child(9) img {
  -webkit-animation: key1 7s infinite 9.5s;
          animation: key1 7s infinite 9.5s;
}

section#index .keys :nth-child(10) img {
  -webkit-animation: key1 7s infinite 11s;
          animation: key1 7s infinite 11s;
}

section#index .keys :nth-child(10) img {
  -webkit-animation: key1 11s infinite 11.5s;
          animation: key1 11s infinite 11.5s;
}

section#hi {
  width: 100%;
  height: 100%;
  padding: 70px 0px;
  text-align: center;
}

section#hi h2 {
  color: #958DAA;
  font-size: 30px;
}

section#hi p {
  margin: 0;
  font-size: 22px;
}

section#works {
  background-color: #DEDDE5;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

section#works .work {
  z-index: 17;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.33333%;
  height: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
}

@media (min-width: 1400px) {
  section#works .work {
    width: 25%;
    height: auto;
  }
}

section#works .work:hover .text, section#works .work:hover .workbox {
  opacity: 1;
}

section#works .work a {
  text-decoration: none;
}

section#works .work .workbox {
  width: 100.5%;
  height: 100.5%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#works .work img {
  width: 100%;
  height: 100%;
}

section#works .work .text {
  font-size: 15px;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

footer#footer {
  width: 100%;
  height: 100%;
  background-color: #958DAA;
  position: relative;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#footer .logo {
  width: 50px;
}

.modal {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
  background-color: rgba(34, 36, 38, 0.8);
  -webkit-transition: .5s;
  transition: .5s;
}

.modal * {
  -webkit-transition: .5s;
  transition: .5s;
}

.modal .modal_main {
  -webkit-transform: translate(0, -10rem);
          transform: translate(0, -10rem);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.modal .modal_main_header {
  padding: 1.5rem;
  position: relative;
}

.modal .modal_main_header .close {
  background-color: transparent;
  border: none;
  padding: 0 .25rem;
  float: right;
  font-size: 1.5rem;
  color: #fff;
  opacity: .5;
}

.modal .modal_main_header .close:hover {
  opacity: 1;
}

.modal .modal_main_body {
  height: 70vh;
  overflow-y: auto;
}

.modal .modal_main_footer {
  padding: 1.5rem;
}

.modal.show {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.modal.show .modal_main {
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 85vw;
  height: auto;
  overflow: hidden;
  background-color: #4C455E;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
}
/*# sourceMappingURL=style.css.map */