@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap')

$purple_1: #DEDDE5
$purple_2: #C3BECF
$purple_3: #958DAA
$purple_4: #645882
$purple_5: #4C455E
$white: #fff
$white_1: #F5F5F5
$grey_1: #DEDDE5
$grey_2: #7D7D7D
$grey_3: #595663
$grey_4: #25232B
$grey_5: #171224

=mobile
    @media(max-width: 768px)
        @content

=min1400
    @media(min-width: 1400px)
        @content

=size($w,$h:$w)
    width: $w
    height: $h

=flexcenter
    display: flex
    justify-content: center
    align-items: center

=xycenter
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)

=xcenter
    position: absolute
    left: 50%
    transform: translateX(-50%)

*
    font-family: 'Chivo','微軟正黑體'

body,html
    margin: 0
    padding: 0
    color: $grey_2
    position: relative

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    margin-top: .5rem
    margin-bottom: .5rem
    font-weight: 500
    line-height: 1.2

section
    padding: 60px 0

header.navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1030
    transition: 0.5s
    padding: 20px
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 12px
    background-color: transparent
    border: none

    #indexLogo
        width: 30px
        margin: 20px

    *
        text-decoration: none

    .navbar-nav
        padding: 0
        margin: 0
        margin-right: 2rem
        display: flex
        flex-wrap: nowrap
        transition: 0.5s

        @include mobile
            display: none
            overflow: hidden
            transition-delay: .5s

        li
            list-style: none
            margin: 1.5rem

            a
                transition: 0.5s
                color: $purple_1
                padding: 0px

                &:hover
                    color: $purple_3
                    border-bottom: solid 1px $purple_3

    .navbar-menu
        display: none
        justify-content: center
        align-items: center
        +size(70px,62.5px)
        padding: .25rem
        position: relative
        cursor: pointer
        background: transparent
        border-radius: 5px
        transform: scale(0.7)
        transition: .5s
        position: absolute
        top: 0
        right: 1rem
        z-index: 999
        &:hover
            span
                background: $purple_1
                transition-delay: 0s

        @include mobile
            display: flex

        *
            transition: .25s ease-in-out
            box-sizing: border-box

        span
            display: block
            background: #fff
            border-radius: 2px

        #hamburger
            width: 100%
            span
                +size(2.5rem, .25rem)
                position: relative
                top: 25%
                left: 20%
                margin: .5rem 0

                &:nth-child(1)
                    transition-delay: .5s

                &:nth-child(2)
                    width: 2rem
                    transition-delay: .625s

                &:nth-child(3)
                    transition-delay: .75s

        #cross
            position: absolute
            +size(100%)
            transform: rotate(45deg)
            top: 0
            left: 0
            span
                &:nth-child(1)
                    +size(.25rem, 0%)
                    position: absolute
                    top: 15%
                    left: 2rem
                    transition-delay: 0s
                &:nth-child(2)
                    +size(0%, .25rem)
                    position: absolute
                    top: 2rem
                    left: 15%
                    transition-delay: .25s

    .navbar-menu.open
        #hamburger
            span
                width: 0%
                &:nth-child(1)
                    transition-delay: 0s

                &:nth-child(2)
                    transition-delay: .125s

                &:nth-child(3)
                    transition-delay: .25s

        #cross
            span
                &:nth-child(1)
                    height: 3rem
                    transition-delay: .625s

                &:nth-child(2)
                    width: 3rem
                    transition-delay: .375s

.navbar.open
    background-color: rgba(148, 140, 169, 0.8)
    flex-wrap: wrap
    .navbar-nav
        display: block
        width: calc(100% + 40px)
        height: auto
        margin: -20px
        margin-top: 1rem
        li
            width: 100%
            text-align: center
            padding: 1rem .5rem
            margin: 0
            background-color: rgba(148, 140, 169, 0.8)
            border-top: rgba(#fff,0.6) solid 1px
            a
                display: block

section#index
    // background-color: $purple_5
    padding: 240px 0px
    +flexcenter
    flex-direction: column
    position: relative
    .text
        color: $white
        padding: 20px
        font-size: 16px
        letter-spacing: 2px
        margin-top: 10px
    .explore
        +xcenter
        bottom: 5%
        opacity: 0.7
        transition: 0.5s
        cursor: pointer
        text-decoration: none
        +size(20px)
        border-radius: 50%
        background-color: $grey_4
        &:before
            content: ""
            display: block
            +size(10px,15px)
            background-color: $grey_4
            +xcenter
            bottom: -10px
        &:hover
            opacity: 1
    .keys
        [class^="key"]
            transition: 0.5s
            display: inline-block
            width: 80px
            overflow: hidden
            white-space: nowrap
            position: relative
            img
                width: 80px
                vertical-align: bottom
                display: inline-block
                position: relative
                left: 0x

        @keyframes key1
            0%
                left: 0px
            3%
                left: -80px
            70%
                left: -80px
            73%
                left: 0px
            100%
                left: 0px

        @for $i from 1 through 10
            & :nth-child(#{$i})
                @for $j from 1 through 2
                    img
                        animation: key1 6+random(5) + s infinite $i+(random(4)/2)*$j/2 + s

section#hi
    +size(100%)
    padding: 70px 0px
    text-align: center
    h2
        color: $purple_3
        font-size: 30px
    p
        margin: 0
        font-size: 22px

section#works
    background-color: $grey_1
    padding: 0px
    display: flex
    flex-wrap: wrap
    padding: 0
    .work
        z-index: 17
        box-sizing: border-box
        +size(33.333333%, auto)
        overflow: hidden
        padding: 0
        position: relative
        @include min1400
            +size(25%, auto)
        &:hover
            .text,.workbox
                opacity: 1
        
        a
            text-decoration: none
        .workbox
            +size(100.5%)
            +xycenter
            background-color: rgba(0,0,0,0.7)
            opacity: 0
            z-index: 5
            transition: 0.5s

        img
            width: 100%
            height: 100%

        .text
            font-size: 15px
            letter-spacing: 1px
            +xycenter
            z-index: 5
            opacity: 0
            color: $white
            transition: 0.5s
            text-align: center

footer#footer
    +size(100%)
    background-color: $purple_3
    position: relative
    padding: 60px 0
    +flexcenter
    .logo
        width: 50px

.modal
    display: none
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1050
    outline: 0
    background-color: rgba(34, 36, 38, 0.8)
    transition: .5s

    *
        transition: .5s

    .modal_main
        transform: translate(0,-10rem)
        transition-delay: .5s

        &_header
            padding: 1.5rem
            position: relative

            .close
                background-color: transparent
                border: none
                padding: 0 .25rem
                float: right
                font-size: 1.5rem
                color: $white
                opacity: .5
                &:hover
                    opacity: 1

        &_body
            height: 70vh
            overflow-y: auto
        &_footer
            padding: 1.5rem


.modal.show
    position: fixed
    +flexcenter
    transition: .5s
    transition-delay: 1s

    .modal_main
        transition: .25s
        transform: translate(0,0)

        +size(85vw, auto)
        overflow: hidden
        background-color: $purple_5
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px
        border: 1px solid rgba(0,0,0,.2)
        border-radius: .5rem
        

