@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap')


=mobile
    @media(max-width: 768px)
        @content

=min1400
    @media(min-width: 1400px)
        @content

=size($w,$h:$w)
    width: $w
    height: $h

=flexcenter
    display: flex
    justify-content: center
    align-items: center

=xycenter
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)

=xcenter
    position: absolute
    left: 50%
    transform: translateX(-50%)

=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

=animation($content)
    -webkit-animation: $content
    -moz-animation: $content
    -o-animation: $content
    animation: $content

body,html
    margin: 0
    padding: 0
    color: var(--normalText)
    position: relative
    overflow-x: hidden

p
    font-weight: var(--textWeight)
    letter-spacing: var(--letterSpeacing)

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    margin-top: .5rem
    margin-bottom: .5rem
    font-weight: 500
    line-height: 1.2

.fas
    transition: 0.5s

section
    padding: 60px 0
    *
        font-family: '微軟正黑體'

header.navbar    
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1030
    transition: 0.5s
    padding: 20px
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 12px
    background-color: transparent
    border: none

    #indexLogo
        width: 30px
        margin: 20px

    #toggle_theme
        background-color: transparent
        outline: none
        border: none
        box-shadow: none
        margin: 1rem
        cursor: pointer
        transition: 0.5s

        &:hover
            opacity: 0.6

        +mobile
            position: absolute
            top: 1.75rem
            right: 6rem

        .themeIcon
            +size(1rem)
            padding: .25rem
            background-color: var(--purple_1)
            border: transparent 1px solid
            border-radius: 100%
            position: relative
            +flexcenter
            font-size: 1.25rem
            
            i
                color: var(--purple_5)

    .navbar_nav
        padding: 0
        margin: 0
        margin-right: 2.5rem
        display: flex
        flex-wrap: nowrap
        transition: 0.5s
        
        *
            text-decoration: none
            list-style: none

        .nav_item
            margin: 1.5rem
            border-bottom: solid 1px transparent
            font-family: 'Chivo','微軟正黑體'
            &:hover
                border-bottom: solid 1px var(--purple_3)
                .nav_link
                    color: var(--purple_3)
                    cursor: pointer

            .nav_link
                transition: 0.5s
                color: var(--purple_1)
                padding: 0px
                text-decoration: none

        .nav_language
            position: relative
            
            .nav_link
                transition-delay: -.5s
            &_list
                visibility: hidden
                position: absolute
                top: 1.5rem
                left: 0
                min-width: 80px
                padding-left: 0
                overflow: hidden
                max-height: 0
                color: var(--purple_5)
                opacity: 0.95
                li
                    background-color: var(--purple_1)
                    padding: .75rem    
                    cursor: pointer    
                +mobile
                    position: relative
                    top: initial
                    left: initial
                    li 
                        background-color: var(--grey_4)
                        color: var(--purple_1)
                        border-top: solid 1px var(--purple_1)



            &_list.open
                visibility: visible
                overflow: initial
                max-height: initial
                opacity: 0.9
                li
                    padding: .75rem
                    &:hover
                        transition-delay: 0s
                        opacity: 0.9  
                        +mobile
                            background-color: var(--grey_5)
                        
                +mobile
                    max-height: 100px

    +mobile
        flex-wrap: wrap
        .navbar_nav
            opacity: 0
            display: block
            visibility: hidden
            overflow: hidden
            width: calc(100% + 40px)
            margin: -20px
            margin-top: 1rem
            border-bottom: rgba(#fff,0.6) solid 1px
            .nav_item
                width: 100%
                text-align: center
                margin: 0
                background-color: var(--purple_5)
                border-top: rgba(#fff,0.6) solid 1px
                border-bottom: solid 1px transparent
                transition: 0.5s
                &:hover
                    opacity: 0.7
                    background-color: var(--purple_4)
                    .nav_link
                        color: var(--purple_1)
                .nav_link
                    display: block
                    padding: 1rem .5rem

    .navbar_menu
        display: none
        justify-content: center
        align-items: center
        +size(70px,62.5px)
        padding: .25rem
        position: relative
        cursor: pointer
        background: transparent
        border-radius: 5px
        transform: scale(0.7)
        transition: .5s
        position: absolute
        top: 1.5rem
        right: 1.5rem
        z-index: 999
        &:hover
            span
                background: var(--purple_1)
                transition-delay: 0s

        +mobile
            display: flex

        *
            transition: .25s ease-in-out
            box-sizing: border-box

        span
            display: block
            background: #fff
            border-radius: 2px

        #hamburger
            width: 100%
            span
                +size(2.5rem, .25rem)
                position: relative
                top: 25%
                left: 20%
                margin: .5rem 0

                &:nth-child(1)
                    transition-delay: .5s

                &:nth-child(2)
                    width: 2rem
                    transition-delay: .625s

                &:nth-child(3)
                    transition-delay: .75s

        #cross
            position: absolute
            +size(100%)
            transform: rotate(45deg)
            top: 0
            left: 0
            span
                &:nth-child(1)
                    +size(.25rem, 0%)
                    position: absolute
                    top: 15%
                    left: 2rem
                    transition-delay: 0s
                &:nth-child(2)
                    +size(0%, .25rem)
                    position: absolute
                    top: 2rem
                    left: 15%
                    transition-delay: .25s

    .navbar_menu.open
        #hamburger
            span
                width: 0%
                &:nth-child(1)
                    transition-delay: 0s

                &:nth-child(2)
                    transition-delay: .125s

                &:nth-child(3)
                    transition-delay: .25s

        #cross
            span
                &:nth-child(1)
                    height: 3rem
                    transition-delay: .625s

                &:nth-child(2)
                    width: 3rem
                    transition-delay: .375s

.navbar.open
    background-color: var(--purple_5)
    flex-wrap: wrap
    opacity: 0.95
    
    .navbar_nav
        opacity: 1
        visibility: visible

section#index
    background-color: var(--purple_5)
    padding: 240px 0px
    +flexcenter
    flex-direction: column
    position: relative
    .text
        color: #fff
        padding: 20px
        font-size: 16px
        letter-spacing: 2px
        margin-top: 10px

    .explore
        +xcenter
        bottom: 5%
        opacity: 0.7
        transition: 0.5s
        cursor: pointer
        text-decoration: none
        +size(20px)
        border-radius: 50%
        background-color: var(--grey_4)
        &:before
            content: ""
            display: block
            +size(10px,15px)
            background-color: var(--grey_4)
            +xcenter
            bottom: -10px
        &:hover
            opacity: 1
    .keys
        [class^="key"]
            transition: 0.5s
            display: inline-block
            width: 80px
            overflow: hidden
            white-space: nowrap
            position: relative
            font-size: 0
            +mobile
                width: 10vw
            img
                width: 80px
                +mobile
                    width: 10vw
                vertical-align: bottom
                display: inline-block
                position: relative
                left: 0x

        @for $i from 1 through 10
            & :nth-child(#{$i})
                @for $j from 1 through 2
                    img
                        +animation(key1 6+random(5) + s infinite $i+(random(4)/2)*$j/2 + s)
                        +mobile
                            +animation(key2 6+random(5) + s infinite $i+(random(4)/2)*$j/2 + s)

+keyframes(key1)
    0%
        left: 0px
    3%
        left: -80px
    70%
        left: -80px
    73%
        left: 0px
    100%
        left: 0px

+keyframes(key2)
    0%
        left: 0px
    3%
        left: -10vw
    70%
        left: -10vw
    73%
        left: 0px
    100%
        left: 0px


section#hi
    +size(100%)
    padding: 70px
    text-align: center
    box-sizing: border-box
    background-color: var(--sectionBackground)
    h2
        color: var(--purple_3)
        font-size: 30px
    p
        margin: 0
        font-size: 22px

section#works
    background-color: var(--workBackground)
    display: flex
    flex-wrap: wrap
    padding: 0
    overflow-x: hidden 
    .work
        z-index: 17
        box-sizing: border-box
        width: 33.3333%
        overflow: hidden
        padding: 0
        position: relative
        cursor: pointer
        +min1400
            +size(25%, auto)
        +mobile
            +size(100%,auto)
        &:hover
            .text, .workbox, .workclass
                opacity: 1
        
        a
            text-decoration: none
        .workbox
            +size(100.5%)
            +xycenter
            background-color: rgba(0,0,0,0.7)
            opacity: 0
            z-index: 5
            transition: 0.5s

        img
            width: 100%
            height: 100%
            object-fit: cover
            opacity: var(--workOpacity)

        .text
            font-size: 15px
            letter-spacing: 1px
            +xycenter
            z-index: 5
            opacity: 0
            color: #fff
            transition: 0.5s
            text-align: center
        .workclass
            font-size: 8px
            letter-spacing: 1px
            z-index: 5
            opacity: 0
            color: var(--purple_1)
            border-radius: 5px
            border: 1px solid var(--purple_1)
            padding: 1px 7.5px
            +xycenter
            top: 40%
            

footer#footer
    +size(100%)
    background-color: var(--footerBackground)
    position: relative
    padding: 60px 0
    +flexcenter
    .logo
        width: 50px

.modal
    visibility: hidden
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1050
    +flexcenter
    outline: 0
    background-color: rgba(34, 36, 38, 0.8)
    opacity: 0
    transition: .25s ease-in-out
    *
        font-family: '微軟正黑體'

    .modal_main
        &::before
            content: ''
            position: absolute
            width: 100%
            height: 100%
            border-radius: .5rem
            top: .25rem
            left: -.5rem
            border: 1px solid var(--purple_1)

    .modal_main
        transform: translate(0,-10rem)
        transition: .5s ease-in-out
        opacity: 0

        +size(80vw, auto)
        max-width: 1400px
        background-color: var(--purple_5)
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px
        border-radius: .5rem
        position: relative

        +mobile
            width: 90vw

        &_header
            padding: 1.5rem
            position: relative
            font-size: 1.5rem
            letter-spacing: 1px
            color: #fff

            .close
                background-color: transparent
                border: none
                padding: 0 .25rem
                float: right
                color: #fff
                opacity: .5
                cursor: pointer
                font-size: 2rem
                &:hover
                    opacity: 1

        &_body
            width: 99%
            height: 70vh
            overflow-y: auto
            background-color: var(--modalBackground)
            display: flex
            position: relative
            flex-direction: row-reverse

            +mobile
                width: 97.5%
                height: 65vh
                flex-direction: column
            &_loading
                position: relative
                height: 70vh
                overflow: hidden
                display: flex
                justify-content: center
                align-items: center
                +mobile
                    height: 15vh
                    margin-bottom: 5vh

            &_img
                width: 70%
                +mobile
                    width: 100%
                img
                    max-width: 1000px
                    width: 100%
                    margin-right: auto
                    margin-left: auto
                    
            &_texts
                width: 30%
                padding: 2rem
                color: #fff
                +mobile
                    width: 100%
                    box-sizing: border-box
                p
                    font-weight: 300

            .modal_btn 
                display: block
                padding: 1.25rem 2rem
                border-radius: .25rem
                text-decoration: none
                font-size: 1rem
                border: var(--purple_1) solid .15rem
                outline: none
                color: #fff
                transition: 0.5s
                display: flex
                &:hover
                    background-color: var(--purple_5)

                    
                @keyframes arrow
                    0%
                        left: 0px
                    3%
                        left: -1.75rem
                    70%
                        left: -1.75rem
                    73%
                        left: 0px
                    100%
                        left: 0px

                .arrow
                    width: 1.5rem
                    margin-left: 1rem
                    transition: 0.5s
                    overflow: hidden
                    white-space: nowrap
                    position: relative
                    min-width: 25px
                    img
                        animation: arrow 5s infinite
                        width: 1.5rem
                        vertical-align: bottom
                        display: inline-block
                        position: relative
                        left: 0x
                
        &_footer
            padding: 1.5rem


.modal.show
    visibility: visible
    opacity: 1 !important
    .modal_main
        transform: translate(0,0)
        opacity: 1


// :-webkit-scrollbar

::-webkit-scrollbar 
    background-color: var(--grey_4)
    color: var(--purple_2)

::-webkit-scrollbar-corner 
    background-color: var(--grey_4)

::-webkit-scrollbar-thumb 
    background-color: var(--purple_3)



// about

.modal.about
    .modal_main_body
        display: block
        justify-content: center
        color: var(--purple_1)
        ul
            list-style: none
            padding-left: 0
            margin: 12px 0px
        li
            font-size: 14px
            line-height: 23px
            font-weight: 200
        h1
            font-size: 24px  
            margin-bottom: 8px
            color: #fff
            span
                font-size: 14px
        h2
            margin: 0
            font-size: 20px
            color: #fff
        h3
            font-size: 14px
            margin: 0
            opacity: 0.9
        h4
            margin: 0 0 .15rem 0
            font-size: 12px
            color: #fff
        h5
            opacity: 0.7
            font-size: 10px
        hr
            border: 0
            height: 1px
            background-color: rgba(#fff, 0.6)
        i
            width: 16px
            text-align: center
            margin-right: 15px
            padding-right: 15px
            color: #fff
            border-right: solid 1px rgba(#fff, 0.6)
            font-family: "Font Awesome 5 Free"

        .block
            margin-top: 35px
        .blocktop 
            margin-top: 0px
            +mobile
                margin-top: 35px

        .resume
            width: 100%
            max-width: 800px
            display: flex
            flex-direction: column
            box-sizing: border-box
            letter-spacing: 1px
            padding: 3rem 5rem 
            position: relative
            margin-left: auto
            margin-right: auto

            +mobile
                padding: 3rem

            .information
                display: flex
                margin-bottom: 40px
                +mobile
                    flex-direction: column
                .icon
                    flex: 4
                    padding-left: 30px
                    +mobile
                        flex: 1
                        padding-left: 0px
                    img
                        width: 180px
                        border-radius: 50%
                        position: relative
                        top: 4px
                    
                .texts  
                    flex: 6
                    padding-left: 30px
                    padding-top: 20px
                    +mobile
                        flex: 1
                        padding-left: 0px
                

            .main
                flex: 8
                display: flex

                +mobile
                    flex-direction: column

                .skill
                    flex: 4
                    padding-right: 30px
                    +mobile
                        flex: 1
                        padding-right: 0px

                .experience
                    flex: 6
                    padding-left: 30px
                    +mobile
                        flex: 1
                        padding-left: 0px
                    
            .name
                color: #fff
                font-size: 16px
                font-weight: 600
                padding-bottom: 2.5px
            .enName
                font-size: 14px
                
            .workExperience>li
                display: flex
            .workExperience 
                ul
                    margin-top: 0px
                    padding-left: 15px
                    margin-left: 15px
                    border-left: solid 1px rgba(var(--purple_3), 0.7)

                
            .year
                text-align: center
                margin-right: 0px
                padding-right: 0px
                ul
                    text-align: left
                
            .skills
                display: flex
                flex-wrap: wrap

                h3
                    opacity: 1
                    color: #fff
                
                li
                    padding: .5rem
                h5
                    max-width: 60px
                    margin-top: .25rem
                    transform: scale(0.9)
                    box-sizing: border-box

                
            .cir
                width: 60px
                height: 60px
                background-color: var(--purple_1)
                border-radius: 50%
                position: relative
                overflow: hidden
                margin-top: 5px
                &:after
                    content: ""
                    display: block
                    width: calc(100% - 30px)
                    height: calc(100% - 30px)
                    background-color: var(--modalBackground)
                    position: relative
                    border-radius: 50%
                    left: 50%
                    top: 50%
                    transform: translate(-50%,-50%)
            .p360,.p270,.p180,.p90
                width: 50%
                height: 50%
                background-color: var(--purple_3)
                position: absolute
                top: 0
                left: 50%
            .p360
                top: 0
                left: 0
            .p270
                top: 50%
                left: 0
            .p180
                top: 50%
                
            .bar 
                width: 100%
                height: 15px
                background-color: var(--purple_1)
                margin-bottom: 10px
                border-radius: 5px
                overflow: hidden
                .value
                    width: 50%
                    height: 100%
                    background-color: var(--purple_3)
                    
                .value.p10
                    width: 10%
                .value.p20
                    width: 20%
                .value.p30
                    width: 30%
                .value.p40
                    width: 40%
                .value.p50
                    width: 50%
                .value.p60
                    width: 60%
                .value.p70
                    width: 70%
                .value.p80
                    width: 80%
                .value.p90
                    width: 90%
                .value.p100
                    width: 100%


.outerLoading
    position: relative
    height: 30vh
    background-color: var(--workBackground)
    display: flex
    justify-content: center
    align-items: center
    
.loading
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    margin: auto
    border: .25rem solid var(--grey_5)
    border-right: .25rem solid var(--purple_3)
    border-bottom: .25rem solid var(--purple_3)
    height: 3rem
    width: 3rem
    border-radius: 100%
    +animation(loading 1s infinite linear)

.loadingText
    color: var(--purple_3)
    font-family: '微軟正黑體'
    letter-spacing: 1px
    font-size: .8rem
    margin-top: 6rem


+keyframes(loading)
    from 
        transform: rotate(0deg)
    to 
        transform: rotate(360deg)
    
